AuthType Basic
AuthName "SCADS"
AuthUserFile /var/www/scads/data/www/.htpasswd2
require valid-user
<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteRule    ^$ app/webroot/    [L]
   RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>
AddDefaultCharset UTF-8